<div class="container">
  <hr/>
  <p class="text-right">
    <% if params[:en] == 'true' %>
      <a href='/results/?user_id=<%= params[:user_id] %>'>Japanese</a>
    <% else %>
      <a href='/results/?user_id=<%= params[:user_id] %>&en=true'>English</a>
    <% end %>
  </p>

  <h4><%= params[:en] == 'true' ? 'Result' : '結果' %></h4>

  <p class="text-center">Your Group Name: <%= @group.group_name %></p>
  <p class="text-center">Your Group Answers: <%= @group_member_count %></p>

  <canvas id="myChart" width="750" height="500"></canvas>
  <% if params[:en] == 'true' %>
    <p>* Your group average will be changed at each time your group members input answer.<br>
      Let's introduce DevOps Meter to your members!
    </p>
    <%= render 'results/en_description' %>
  <% else %>
    <p>* グループ平均は、あなた方のグループのメンバーが入力するたびに更新されます！<br>
      あなたのグループの人にもDevOps Meterを紹介しよう！
    </p>
    <%= render 'results/ja_description' %>
  <% end %>

  <%= render 'results/affiliate' %>
  <%= render 'results/answers' %>
  <%= render 'results/affiliate' %>
</div>


<script>
    ctx = document.getElementById("myChart").getContext('2d');
    new Chart(ctx, {
        type: 'radar',
        data: {
            labels: <%= raw(Category.all.map(& params[:en] == 'true' ? :en_desc : :ja_desc)) %>,
            datasets: [{
                label: "Your Answer",
                data: <%= @user_results.values %>,
                fill: true,
                backgroundColor: 'rgba(255, 99, 132, 0.5)',
                borderColor: 'rgba(255, 50, 132)',
                pointBackgroundColor : 'rgb(255, 99, 132)',
                pointBorderColor: '#fff',
                pointHoverBackgroundColor: '#fff',
                pointHoverBorderColor: 'rgb(255, 99, 132)'
            },{
                label: "Your Group Average",
                data: <%= @group_results.values %>,
                fill: true,
                backgroundColor: 'rgba(54, 162, 235, 0.5)',
                borderColor: 'rgba(54, 162, 235)',
                pointBackgroundColor : 'rgb(54, 162, 235)',
                pointBorderColor: '#fff',
                pointHoverBackgroundColor: '#fff',
                pointHoverBorderColor: 'rgb(54, 162, 235)'
            }]
        },
        options: {
            title:  {
                display: true,
                text: "Your DevOps Score Compared with Group AVG."
            },
            elements: {
                line: {"tension":0,"borderWidth":3}
            },
            scale: {
                ticks: {
                    beginAtZero: true,
                    max: 100,
                    min: 0,
                    stepSize: 20
                }
            }
        }
    });
</script>
